theme: 'auto'
totp:
    issuer: 'push.stilk.tf'
identity_validation:
    reset_password:
        jwt_secret: '{{ authelia_jwt_secret }}'
authentication_backend:
    refresh_interval: '5m'
    password_reset:
        disable: false
    file:
        path: '/config/users_database.yml'
server:
    endpoints:
        authz:
            forward-auth:
                implementation: 'ForwardAuth'
session:
    secret: '{{ authelia_session_secret }}'
    name: 'authelia_session'
    same_site: 'lax'
    inactivity: '5m'
    expiration: '1h'
    remember_me: '1M'
    cookies:
        - domain: 'stilk.tf'
          authelia_url: 'https://auth.stilk.tf'
          remember_me: '1d'
notifier:
    filesystem:
        filename: '/config/notification.txt'
storage:
    encryption_key: '{{ authelia_storage_secret }}'
    local:
        path: '/config/db.sqlite3'
ntp:
    address: 'udp://time.google.com:123'
    version: 3
    max_desync: '3s'
    disable_startup_check: true
    disable_failure: false
access_control:
    default_policy: deny
    rules:
        - domain: "*.stilk.tf"
          policy: two_factor
identity_providers:
    oidc:
        jwks:
            - key_id: 'main'
              key: |
                {{ 
                    authelia_jwks_rs_private_key | indent(16)
                }}
        clients:
            - client_id: 'vikunja'
              client_name: 'Vikunja'
              client_secret: '{{ authelia_client_secret_vikunja }}'
              public: false
              authorization_policy: 'two_factor'
              redirect_uris:
                - 'https://todo.stilk.tf/auth/openid/authelia'
              scopes:
                - 'openid'
                - 'profile'
                - 'email'
              userinfo_signed_response_alg: 'none'
              token_endpoint_auth_method: 'client_secret_basic'
              jwks:
                - key_id: 'main'
                  key: |
                    {{
                        authelia_jwks_rs_public_key | indent(20)
                    }}
            - client_id: 'grist'
              client_name: 'Grist'
              client_secret: '{{ authelia_client_secret_grist }}'
              public: false
              authorization_policy: 'two_factor'
              redirect_uris:
                - "https://sheet.stilk.tf/oauth2/callback"
              scopes:
                - 'openid'
                - 'profile'
                - 'email'
              userinfo_signed_response_alg: 'RS256'
              token_endpoint_auth_method: 'client_secret_basic'
              jwks:
                - key_id: 'main'
                  key: |
                    {{
                        authelia_jwks_rs_public_key | indent(20)
                    }}
            - client_name: 'Memos'
              client_id: '{{ authelia_client_id_memos }}'
              client_secret: '{{ authelia_client_secret_memos }}'
              public: false
              authorization_policy: 'two_factor'
              pre_configured_consent_duration: 4w
              redirect_uris:
                - 'https://notes.stilk.tf/auth/callback'
              scopes:
                - 'openid'
                - 'profile'
                - 'email'
              token_endpoint_auth_method: 'client_secret_post'