---
users:
    {{ authelia_user_username }}:
        disabled: false
        displayname: '{{authelia_user_displayname}}'
        password: '{{authelia_user_password}}'
        email: '{{authelia_user_email}}'
        groups:
            - 'admins'
---