version: "3.0"
services:
  memos:
    image: neosmemo/memos:stable
    restart: always
    depends_on:
      - db
    ports:
      - 6216:5230
    environment:
      - MEMOS_DRIVER=postgres
      - MEMOS_DSN=user=memos password='{{ memos_postgres_password }}' dbname=memosdb host=db sslmode=disable
    volumes:
        - "./data/:/var/opt/memos"

  db:
    image: postgres:16.1
    restart: unless-stopped
    volumes:
      - "./database:/var/lib/postgresql/data/"
    environment:
      POSTGRES_USER: memos
      POSTGRES_PASSWORD: '{{ memos_postgres_password }}'
      POSTGRES_DB: memosdb